body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: rgb(233, 194, 246);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(73, 0, 73);
}

  
